.CategoryIcon {
  border: 1px solid var(--third-color);
  border-radius: 50%;
  display: flex;
  height: 2.5rem;
  margin-right: 1.5rem;
  place-content: center;
  width: 2.5rem;
}

.CategoryIcon .fa-laptop-code {
  width: 1.25rem;
}

.CategoryIcon .fa-running,
.CategoryIcon .fa-pizza-slice,
.CategoryIcon .fa-user-tie {
  width: 1rem;
}

@media (min-width: 600px) {
  .CategoryIcon {
    height: 3.5rem;
    margin-right: 2rem;
    width: 3.5rem;
  }

  .CategoryIcon .fa-laptop-code {
    width: 1.75rem;
  }

  .CategoryIcon .fa-running,
  .CategoryIcon .fa-pizza-slice {
    width: 1.625rem;
  }

  .CategoryIcon .fa-user-tie {
    width: 1.5rem;
  }
}

@media (min-width: 900px) {
  .CategoryIcon {
    height: 5rem;
    margin-right: 6.25rem;
    width: 5rem;
  }

  .CategoryIcon .fa-laptop-code {
    width: 2.5rem;
  }

  .CategoryIcon .fa-running,
  .CategoryIcon .fa-pizza-slice,
  .CategoryIcon .fa-user-tie {
    width: 2.25rem;
  }
}

@media (min-width: 1280px) {
  .CategoryIcon {
    background-color: white;
    border: none;
    height: 2rem;
    margin-right: 0.875rem;
    width: 2rem;
  }

  .CategoryIcon svg path {
    fill: var(--third-color);
  }

  .CategoryIcon .fa-laptop-code {
    width: 0.875rem;
  }

  .CategoryIcon .fa-running,
  .CategoryIcon .fa-pizza-slice,
  .CategoryIcon .fa-user-tie {
    width: 0.75rem;
  }
}
