.HamburgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 1.5rem;
}

.HamburgerMenu__top,
.HamburgerMenu__middle,
.HamburgerMenu__bottom {
  background-color: white;
  border-radius: 1px;
  height: 0.125rem;
}

.HamburgerMenu__top,
.HamburgerMenu__bottom {
  width: 1rem;
}

.HamburgerMenu__top,
.HamburgerMenu__middle {
  margin-bottom: 0.25rem;
}

.HamburgerMenu__bottom {
  margin-left: auto;
}