.CategoryList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 900px) {
  .CategoryList {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .CategoryList {
    margin: 2.5rem 0;
    padding: 0 3.25rem;
  }
}