.AddTaskFormCategory {
  align-items: center;
  border-bottom: 1px solid var(--third-color);
  display: flex;
  margin-bottom: 1.5rem;
  padding-bottom: 0.625rem;
}

.AddTaskFormCategory:last-child {
  margin-bottom: 0;
}

.AddTaskFormCategory__name {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1;
  text-transform: capitalize;
}

.AddTaskFormCategory__dot {
  border-radius: 50%;
  height: 0.375rem;
  margin-left: 0.375rem;
  width: 0.375rem;
}

.AddTaskFormCategory__dot--orange {
  background-color: var(--recreation-color);
}

.AddTaskFormCategory__dot--yellow {
  background-color: var(--technology-color);
}

.AddTaskFormCategory__dot--red {
  background-color: var(--personal-color);
}

.AddTaskFormCategory__dot--green {
  background-color: var(--food-color);
}

.AddTaskFormCategory__radio-container {
  cursor: pointer;
  font-size: 0.75rem;
  height: 0.75rem;
  margin-left: auto;
  padding-left: 35px;
  position: relative;
  user-select: none;
}

.AddTaskFormCategory__radio-container .AddTaskFormCategory__radio:checked ~ .AddTaskFormCategory__checkmark:after {
  display: block;
}

.AddTaskFormCategory__radio-container .AddTaskFormCategory__checkmark:after {
  top: 2px;
  right: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--third-color);
}

.AddTaskFormCategory__radio-container:hover ~ .AddTaskFormCategory__checkmark {
  background-color: #ccc;
}

.AddTaskFormCategory__radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.AddTaskFormCategory__checkmark {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  height: 0.75rem;
  right: 0;
  top: 0;
  width: 0.75rem;
}

.AddTaskFormCategory__checkmark:after {
  display: none;
  content: "";
  position: absolute;
}

@media (min-width: 414px) {
  .AddTaskFormCategory {
    margin-bottom: 2rem;
    padding-bottom: 0.875rem;
  }
}

@media (min-width: 600px) {
  .AddTaskFormCategory {
    border-bottom: 2px solid var(--third-color);
    padding-bottom: 1.125rem;
  }

  .AddTaskFormCategory__name {
    font-size: 1.125rem;
  }

  .AddTaskFormCategory__dot {
    height: 0.5rem;
    margin-left: 1rem;
    width: 0.5rem;
  }

  .AddTaskFormCategory__checkmark {
    border: 2px solid white;
    height: 1rem;
    right: 0;
    top: 0;
    width: 1rem;
  }

  .AddTaskFormCategory__radio-container .AddTaskFormCategory__checkmark:after {
    width: 8px;
    height: 8px;
  }
}

