.Tasks {
  padding: 1rem 1.5rem 1.5rem;
  display: none;
}

.Tasks__title {
  font-size: 0.875rem;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

.Tasks__title:nth-child(3) {
  display: inline-block;
}

.Tasks__quantity-done-tasks {
  background-color: var(--secondary-color);
  border-radius: 50%;
  box-shadow: 0 5px 10px hsla(208, 58%, 14%, 40%);
  display: inline-flex;
  height: 1.375rem;
  margin-left: 0.875rem;
  place-content: center;
  place-items: center;
  width: 1.375rem;
}

.Tasks__quantity-done-tasks span {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
}

.Tasks__add-task-button {
  background-color: var(--secondary-color);
  border-radius: 50%;
  bottom: 1.5rem;
  box-shadow: 0 5px 10px hsla(208, 58%, 14%, 40%);
  font-size: 2.25rem;
  font-weight: 300;
  height: 3rem;
  line-height: 3rem;
  position: absolute;
  right: 1.5rem;
  text-align: center;
  width: 3rem;
}