.Task__icons {
  align-items: flex-end;
  display: flex;
  margin-left: auto;
}

.Task__icons button {
  background: transparent;
  border: none;
  margin-right: 0.5rem;
  padding: 0;
}

.icon:last-child {
  margin-right: 0;
}