.AddTaskCategoryIcon {
  border: 1px solid var(--third-color);
  border-radius: 50%;
  display: flex;
  place-content: center;
  height: 3rem;
  margin: 2.5rem auto 0;
  width: 3rem;
}

.AddTaskCategoryIcon .fa-laptop-code {
  width: 1.5rem;
}

.AddTaskCategoryIcon .fa-running,
.AddTaskCategoryIcon .fa-pizza-slice,
.AddTaskCategoryIcon .fa-user-tie {
  width: 1.25rem;
}

@media (min-width: 414px) {
  .AddTaskCategoryIcon {
    height: 3.375rem;
    margin: 3rem auto 0;
    width: 3.375rem;
  }
}

@media (min-width: 414px) {
  .AddTaskCategoryIcon {
    height: 4.5rem;
    margin: 4rem auto 0;
    width: 4.5rem;
  }

  .AddTaskCategoryIcon .fa-laptop-code {
    width: 2.375rem;
  }

  .AddTaskCategoryIcon .fa-running,
  .AddTaskCategoryIcon .fa-pizza-slice,
  .AddTaskCategoryIcon .fa-user-tie {
    width: 2rem;
  }
}