.Task {
  border-bottom: 1px solid var(--third-color);
  display: flex;
  padding: 1rem 0;
}

.Task:first-child {
  padding-top: 0;
}

.Task__texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Task__title {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}

.Task__date {
  color: var(--third-color);
  font-size: 0.75rem;
  font-weight: 400;
}

.fade {
  animation: fade 0.8s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}