.AddTask {
  background-color: var(--primary-color);
  height: 100vh;
  padding: 1.5rem 2rem 4rem;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
  width: 100%;
  z-index: 1;
}

.AddTask.show {
  transform: translateX(0);
}

.AddTask__back-icon {
  background-color: transparent;
  border: none;
  padding: 0;
  position: fixed;
}

.AddTask__back-icon svg {
  height: 1rem;
}

.AddTask__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .AddTask {
    padding: 1.5rem 3rem 0;
  }

  .AddTask__back-icon {
    left: 1.25rem;
  }

  .AddTask__back-icon svg {
    height: 1.5rem;
  }

  .AddTask__title {
    font-size: 1.5rem;
  }
}