.AddTask {
  background-color: var(--primary-color);
  height: 100vh;
  padding: 1.5rem 2rem 4rem;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
  width: 100%;
}

.AddTask.show {
  transform: translateX(0);
}

.AddTask__back-icon {
  background-color: transparent;
  border: none;
  padding: 0;
  position: fixed;
}

.AddTask__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}