.Title {
  line-height: 1;
  margin: 3rem 0 0.5rem;
  font-size: 1.875rem;
  font-weight: 300;
  width: 60%;
}

@media (min-width: 414px) {
  .Title {
    font-size: 2rem;
    margin-top: 2.5rem;
  }
}

@media (min-width: 600px) {
  .Title {
    font-size: 3rem;
    margin-top: 3rem;
  }
}

@media (min-width: 900px) {
  .Title {
    font-size: 4.5rem;
    margin-top: 4.75rem;
  }
}

@media (min-width: 1280px) {
  .Title {
    display: none;
  }
}